.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* App Styles*/

@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Indie- Flower', cursive;
}

.App {
  max-width: 100%;
  margin: 0 auto;
}

/* App Styles*/

/* ------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------- */

/* Link Styles */

/* Aside Styles */

.Aside {
  display: inline-block;
  width: 15%;
  margin-right: 1%;
  height: 89.5vh;
  /* border:1px solid red; */
  vertical-align: top;
}

/* Aside Styles */

/* ------------------------------------------------------------------------------- */

/* Main Styles */

.Main {
  display: inline-block;
  width: 83%;
  height: auto;
  /* border:1px solid blue; */
  margin-bottom: 5%;
}

h1 {
  text-align: center;
  color: #234465;
  text-decoration: underline;
  margin-bottom: 2%;
}

/* Main Styles */

/* ------------------------------------------------------------------------------- */

/* Posts Styles */

.Posts {
  width: 100%;
  /* border:1px solid red; */
  height: 45vh;
}

/* Posts Styles */

/* ------------------------------------------------------------------------------- */

/* Post Styles */

.Post {
  width: 100%;
  height: auto;
  border: 1px solid #234465;
  margin-bottom: 3%;
  border-radius: 4px;
}

.description {
  word-wrap: break-word;
  padding: 0.5%;
  font-style: italic;
  /* border:1px solid blue; */
  margin-bottom: 0.5%;
  width: 95%;
  display: inline-block;
  vertical-align: top;
}

.Post div {
  /* border:1px solid red; */
  height: auto;
  text-align: right;
  margin-bottom: 0.5%;
}

.Post div span {
  text-decoration: underline;
  text-align: right;
  /* border:1px solid green; */
  padding-right: 1%;
}

.Post img {
  width: 32px;
  height: 32px;
}

/* Post Styles */

/* Footer Styles */

.Footer {
  width: 100%;
  height: 18vh;
  background-color: #ffa000;
  color: #234465;
  border-top: 2px solid #234465;
  border-bottom: 2px solid #234465;
  margin-bottom: 1%;
}

.Footer p {
  text-align: center;
  font-weight: bold;
}

/* Footer Styles */
